section {
   width: 960px;
   height:500px; 
   margin-left: 25%;
   margin-top: -125px;
   background-color:#ffffff;
   border-color: #dddddd;
  
}

img{
   position:relative;
   float: right;
   top: -250px;
   left: -75px;
}

form{
   padding-left:15px;
   
}
