section{
   width: 960px;
   height:100%; 
   background-color:#ffffff;
   border-color: #dddddd;
   float:left;
   margin-left: 25%;
   margin-top: -125px;
}

img{
   position: relative; 
   margin: 30px;
   max-width: 250px;
   float:right;
}



