section{
  width: 960px;
  height:800px; 
  margin-left: 25%;
  margin-top: -125px;
  background-color:#ffffff;
  border-color: #dddddd;
  float:left;
}


p {
    position: relative;
    background-color: #4aaaa5;
    width: 150px;
    height: 30px;
    color:#ffffff;
    text-align: center
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  } 


