section{
  width: 960px;
  height:800px; 
  margin-left: 25%;
  margin-top: -125px;
  background-color:#ffffff;
  border-color: #dddddd;
  float:left;
}


p {
    position: relative;
    background-color: #4aaaa5;
    width: 150px;
    height: 30px;
    color:#ffffff;
    text-align: center
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  } 
  .column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }
  
  /* .grid-container {
    display: inline-grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }

  #item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  #item2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  #item3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  #item4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  #item5 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  #item6 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  } */
